@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body{
  background-color: rgb(8, 27, 41);
  color: #ededed;
}

.header{
  position: flex;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  position: relative;
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.logo:hover{
  color: #0f0f0f;
}

.logo::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: .4s;
}

span{
  color: #00abf0;
}

.navbar a{
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 700;
  margin-left: 4rem;
}

.navbar a:hover {
  color: #00abf0;
}

.navbar a.active{
  color: #00abf0;
}

.home{
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 6%;
}

.home-content{
  max-width: 1200px;
}

.home-content h1{
  position: relative;
  font-size: 56px;
  font-weight: 700;
}

.home-content h1::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(8, 27, 41);
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content h3{
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}

.home-content h3::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
}

.home-content p{
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
  line-height: 1.2;
}

.home-content p::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.6s;
}

.home-content .btn-box{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.home-content .btn-box::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  z-index: 2;
}

.btn-box a{
  position: relative;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.btn-box a:hover{
  color: #00abf0;
}

.btn-box a:nth-child(2){
  background: transparent;
  color: #00abf0;
}

.btn-box a:nth-child(2):hover{
  color: #081b29;
}

.btn-box a:nth-child(2)::before{
  background: #00abf0;
}

.btn-box a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: .5s;
}

.btn-box a:hover::before{
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 40px;
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.home-sci::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 200%;
  height: 300%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 2.5s;
  z-index: 2;
}

.home-sci a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  top: 60px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.home-sci a:hover {
  color: #081b29;

}

.home-sci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: .5s;
}

.home-sci a:hover::before {
  width: 100%;
}


/* KEYFRAMES ANIMATION */
@keyframes showRight {
  100%{
    width: 0;
  }
}

.about{
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 6%;
}

.about-img img{
  width: 40vw;
  right: 0 10px;
  top: 0;
  bottom: 30%;
  padding-right: 40px;
}


.heading{
  position: relative;
  font-size: 56px;
  font-weight: 700;
}

.about-content{
    max-width: 1200px;
}

.about-content h2::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(8, 27, 41);
  animation: showRight 1s ease forwards;
  animation-delay: .9s;
}

.about-content h2{
  position: relative;
  font-size: 45px;
  font-weight: 700;
  color: whitesmoke;
}

.about-content h3{
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: whitesmoke;
}

.about-content h3::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(8, 27, 41);
  animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
}

.about-content p{
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
  line-height: 1.2;
}

.about-content p::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.6s;
}

.background{
  background: #081b29;
  width: 100%;
  padding: 100px 0px;
  display: flex;
  align-items: center;
}

.background{
  max-width: 1200px;
}

.box{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  padding-right: 100px;
}

.box::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.6s;
}

.card{
  position: relative;
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.card::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: .6s;
}

.card i{
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: rgb(38, 129, 248);
}

h5{
  color: white;
  font-size: 23px;
  margin-bottom: 15px;

}

.pra p{
  color: rgb(115, 151, 184);
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}

.card .button{
  background-color: rgb(38, 129, 248);
  color: white;
  text-decoration: rgb(38, 129, 248);
  border: 2px solid transparent;
  font-weight: bolder;
  padding: 9px 22px;
  border-radius: 30px;
  transition: .1s;
}

.button{
  background-color: rgb(38, 129, 248);
  color: white;
  text-decoration: rgb(38, 129, 248);
  border: 2px solid transparent;
  font-weight: bolder;
  padding: 9px 22px;
  border-radius: 30px;
  transition: .1s;
}



.button:hover{
  background-color: transparent;
  border: 2px solid rgb(38, 129, 248);
  cursor: pointer;
}

.card .button:hover{
  background-color: transparent;
  border: 2px solid rgb(38, 129, 248);
  cursor: pointer;
}

.interest{
  background: #081b29;
  width: 100%;
  padding: 100px 0px;
  display: flex;
  align-items: center;
}

.project{
  background: #081b29;
  width: 100%;
  padding: 100px 0px;
  display: flex;
  align-items: center;
}

.contact form{
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;

}

.contact form ,input-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.contact form .input-box input,
.contact form textarea{
  width: 100%;
  padding: 1.5rems;
  font-size: 1.6rem;
  color: #00abf0;
  background: #081b29;
  border-radius: .8rem;
  margin: .7rem 0;
  border-color: #00abf0;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea{
  resize: none;
}

.btn{
  display: inline-block;
  padding: 1rem 2.8rem;
  background: #081b29;
  border-radius: 4rem;
  box-shadow: 0 0 1rem black;
  font-size: 1.6rem;
  color: #00abf0;
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5s ease;


}

.contact form .btn{
  margin-top: 2rem;
  cursor: pointer;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: #081b29;
}

.footer-text{
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 25rem;
  color: #00abf0;
  cursor: pointer;
}


